@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-bottom-black {
    @apply border-b-2 border-black;
  }
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
/* 
:root {
  --green: #22543d;
  --yellow: #ec9c08;
  --lightgreen: #f0fff4;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--green);
  font-family: arial, sans-serif;
}

h1,
h2 {
  color: var(--green);
  padding-bottom: 0.5rem;
}

h3 {
  color: var(--green);
}

.container {
  margin: 4rem 0.5rem 2rem 0.5rem;
  padding: 3rem 1rem 0 1rem;
  background-color: var(--lightgreen);
}

.wrapper {
  padding: 0.5rem;
}

.sidebar {
  display: none;
}
.margin--bt {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
}

h1 + p {
  margin-bottom: 1rem;
}

.border {
  border-bottom: 1px solid black;
}

.sidebar--tech ul {
  list-style-type: square;
  display: flex;
  margin-left: 1rem;
}

.sidebar--tech ul li {
  padding-right: 1rem;
}

.experience li {
  list-style: none;
} */
