@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.serif {
  font-family: "Bree serif", serif;
  font-weight: "700";
}

.red {
  color: red;
  font-size: 2rem;
}

@layer components {
  .border-bottom-black {
    @apply border-b-2 border-black;
  }

  .sidebar {
    @apply items-center py-3 px-3  rounded text-yellow-500 hover:text-white text-2xl;
  }

  .navbar {
    @apply fixed top-0 flex justify-between bg-green-900 z-10 w-full;
  }

  .nav-menu {
    @apply bg-green-800 w-44 h-full z-10 flex fixed right-full justify-center transition duration-500;
  }

  .nav-menu.active {
    @apply right-0 transition duration-500;
  }

  .nav-text {
    @apply flex justify-start items-center px-2 pr-0 pl-4 h-20;
  }

  .nav-text a {
    @apply text-yellow-500 text-xl h-full flex items-center py-0 px-8 rounded-sm;
  }

  .nav-text a:hover {
    @apply bg-yellow-500 text-green-900 z-10;
  }

  .navbar-toggle {
    @apply w-full h-16 flex justify-start items-center;
  }
}
